#board {
    text-align: center;
    position: relative;
    height: 800px;
    width: 80%;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: rgb(250, 250, 250);
    border: 6px solid rgb(161, 106, 3);
}

#row{
    height: 100%;
}

.row{
    padding-top: 12px;
}

.btn{
    width: 100%;
    height: 100%;
}

#tool {
    position: relative;
    height: 100%;
    border: 2px solid black;
}

#sheet {
    /* position: relative; */
    margin-right: auto;
    border: 2px solid black;
    background-color: white;
    /* width: 100%;
    height: 100%; */
}

#color-picker {
    position: relative;
    left: 70px; 
    background-color: white;
    height: 165px;
    width: 200;
    border: solid 2px #cccccc;
    opacity: 0;
    padding: 5px;
}

.picker:hover {
    cursor: crosshair;
}

#color-input {
    display: none;
}

#color-label {
    border-radius: .25rem;
    margin-left: 15px;
    position: absolute;
    height: 30px;
    width: 50px;
} 
#color-input:checked ~ #color-picker {
    opacity: 1;
}

.input-group{
    padding: 10px;
}

#collapseExample{
    position: relative;
    padding-bottom: 15px;
    border-radius: .25rem;
    border: solid 2px #cccccc;
}

.col-4-sm{
    padding: 2px;
    margin: auto;
}

#upload{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#upload_warp{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#in_text{
    overflow: hidden;
    visibility: hidden;
}
